.btm-navbar-container {
    display: flex;
    padding: 20px 10px;
    justify-content: flex-start;
}

.nav-site {
    display: flex;
    margin-right: 5%;
    align-items: center;
    border-style: solid;
    border-width: 0;
    border-color: transparent;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    font-family: AirbnbCerealLight,sans-serif;
    padding-bottom: 10px;
    border-bottom: transparent solid 2px;
}

.nav-site:first-child {
    border-bottom: #fff solid 2px;
}

.nav-site:hover {
    border-bottom: #fff solid 2px;
}