.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 20px 0 20px 10px;
}

.logo-image {
    width: 82px;
    height: 30px;
}

.phone-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.phone-icon {
    max-width: 19px;
    margin-right: 10px;
}

span strong {
    line-height: 20px;
    font-family: AirbnbCerealBold, sans-serif;
}